{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Tollywood table</title>
</head>
<body>
	<table border="2px" cellpadding="20px">
		<tr>
			<th>S.No</th>
			<th>Sname</th>
			<th>Sage</th>
			<th>S-PIC</th>
		</tr>
		<tr>
			<td>17022</td>
			<td>Anuama</td>
			<td>21</td>
			<td><img src="{% static 'images/anu.jpg' %} " height="130px" width="200px"></td>
		</tr>

		<tr>
			<td>17023</td>
			<td>RamCharan</td>
			<td>24</td>
			<td><img src="{% static 'images/dhruva.jpg' %}" height="130px" width="200px"></td>
		</tr>
		<tr>
			<td>17024</td>
			<td>Joker</td>
			<td>27</td>
			<td><img src="{% static 'images/joker.jpg' %}" height="130px" width="200px"></td>
		</tr>
		<tr>
			<td>17025</td>
			<td>NTR</td>
			<td>23</td>
			<td><img src="{% static 'images/RRR.jpg' %}" height="130px" width="200px"></td>
		</tr>
		<tr>
			<td>17026</td>
			<td>Samantha</td>
			<td>24</td>
			<td><img src="{% static 'images/sam.jpg' %}" height="130px" width="200px"></td>
		</tr>
	</table>

</body>
</html>